.my-logo {
    width: 50px;
    aspect-ratio: 1/1;
}

.debug {
    border: 1px solid red;
}

/* Do una grandezza minima (sotto la quale non può scendere)
alla colonna "Azioni" che contiene le icone 
font awesone di "modifica" e "cestina" 
così da visualizzare entrambe le icone affiancate quando riduco
lo schermo in mobile invece che visualizzarle una sopra ed una sotto
come accadrebbe normalmente  */
.my-icon-azioni {
    min-width: 125px;
}

/* Personalizzo i colori del testo, dei bordi
e il colore di sfondo del pulsante */
.search-nav-color .btn, .btn:hover {
    color: white;
    border-color: white;
    background-color: black;
}

/* Personalizzo il colore di sfondo dell'input del testo
e il colore del placeholder */
.search-nav-color .form-control {
    background-color: white;
    color: gray;
}

