/* Grandezza immagine del logo nella navbar */
.my-logo {
    width: 50px;
    aspect-ratio: 1/1;
}

.debug {
    border: 1px solid red;
}

/* Do una grandezza minima (sotto la quale non può scendere)
alla colonna "Azioni" che contiene le icone 
font awesone di "modifica" e "cestina" 
così da visualizzare entrambe le icone affiancate quando riduco
lo schermo in mobile invece che visualizzarle una sopra ed una sotto
come accadrebbe normalmente  */
.my-icon-azioni {
    min-width: 125px;
}

/* Personalizzo i colori del testo, dei bordi
e il colore di sfondo del pulsante */
.search-nav-color .btn,
.btn:hover {
    color: white;
    border-color: white;
    background-color: black;
}

/* Personalizzo il colore del pulsante "Cerca" all'hover */
.search-nav-color .btn:hover {
    background-color: #0D6EFD;
}

/* Personalizzo il colore di sfondo dell'input del testo
e il colore del placeholder */
.search-nav-color .form-control {
    background-color: white;
    /* color: gray; */
}

/* Non usata */
.my-input.form-control::placeholder {
    /* Per Firefox e Chrome */
    color: red;
    opacity: 1;
}

/* Non usata */
.my-input.form-control::-ms-input-placeholder {
    /* Per Edge 12 -18 */
    color: blue;
}

/* Mi creo due classi personalizzate per le larghezze delle 
celle (quelle standard sono solo 25%, 50%, 75%, 100% e auto */
.my-w-10 {
    width: 10%;
}

.my-w-20 {
    width: 20%;
}

/* Personalizzo in grassetto le label di tutte le imput box 
presenti in #newBook */
#newBook label:not(.check-not-bold) {
    font-weight: bold;
}

/* Personalizzo solo il was-validated 
del mio form non della libreria di Bootstrap.
Modifico i bordi e il loro colore */
#newBook .was-validated .form-control:invalid {
    border: 0 0 0 2px;
    border-left: 5px solid red;
    /* border-radius: 0px; */
}

/* Personalizzo il colore della 
checkbox (una volta spuntata)
"Disponibile anche in digitale" */
.form-check-input.is-valid:checked,
.was-validated .form-check-input:valid:checked {
    background-color: #0D6EFD;
}

/* Classe che personalizza l'altezza della textarea */
.my-custom-height {
    height: 100px;
}